<br><br>

<footer class="bg-light footer" style="background-color: #F0F0E9">
  <!-- Section: Social media -->
  <section
    class="top-footer d-flex justify-content-center justify-content-lg-between py-2 border-top border-bottom"
    style="background-color: #63e399"
  >
    <!-- Left -->
    <div class="ms-5 me-5 d-none d-lg-block">
      <span>Mạng xã hội của chúng tôi:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div class="ms-5 me-5">
      <a href="" class="me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-google"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Grid container -->
  <div class="container p-4">
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h2>
            <img
              src="./assets/images/bell.png"
              class="me-2"
              height="55"
              loading="lazy"
            />
            <span style="color: #63e399">RING!</span> - NEWS
          </h2>
          <p>
            Khu phố 6, Phường Linh Trung, TP. Thủ Đức - TP. Hồ Chí Minh
          </p>

        </div>

        <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">THÔNG TIN</h5>

          <ul class="list-unstyled mb-0">
            <li><a href="">Toà soạn: Số 5 Lý Thường Kiệt, Hà Nội</a></li>
            <li><a href="">Điện thoại: 024.38248605</a></li>
            <li><a href="">Fax: 024-38253753</a></li>
            <li><a href="">Email: baotintuc@vnanet.vn – toasoantintuc@gmail.com</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <section class="">
            <form action="">
              <p class="pt-2">
                <strong>Cập nhật tin tức mới qua email</strong>
              </p>
              <div class="row">
                <div class="col-auto">
                  <form class="d-flex input-group w-auto">
                    <input
                      type="search"
                      class="form-control"
                      placeholder="Địa chỉ email"
                    />
                    <button class="btn waves-effect" style="color: white; background-color: #63e399; box-shadow: none !important;" type="button">
                      <i class="fas fa-mail-forward fa-lg"></i>
                    </button>
                  </form>
                </div>
              </div>
            </form>
          </section>
        </div>

      </div>
      <!--Grid row-->
    </section>

  </div>

  <br>

  <div class="text-center p-2" style="background-color: #F0F0E9">
    © Giấy chứng nhận Đăng ý kính doanh do
    <a class="text-dark" href="">NLU - TP.HCM</a>
    cấp ngày 01/01/2022.
  </div>

</footer>
