<br><br>

<footer class="bg-light ">
  <!-- Grid container -->
  <div class="container p-4">
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h2><span style="color: #63e399">RING!</span> - NEWS</h2>
          <p>
            Khu phố 6, Phường Linh Trung, TP. Thủ Đức - TP. Hồ Chí Minh
          </p>

        </div>

        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">THÔNG TIN</h5>

          <ul class="list-unstyled mb-0">
            <li><a href="">Toà soạn: ...</a></li>
            <li><a href="">Điện thoại: ...</a></li>
            <li><a href="">Fax: ...</a></li>
            <li><a href="">Email: ...</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">DỊCH VỤ</h5>

          <ul class="list-unstyled mb-0">
            <li><a href="">Hệ thống</a></li>
            <li><a href="">Hệ thống</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <section class="">
            <form action="">
                <p class="pt-2">
                  <strong>Cập nhật tin tức mới qua email</strong>
                </p>
                <div class="row">
                  <div class="col-auto">
                    <div class="form-outline mb-4">
                      <input type="email" id="form5Example2" class="form-control" />
                      <label class="form-label" for="form5Example2">Địa chỉ email</label>
                    </div>
                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn btn-primary mb-4" style="background-color: #63e399">
                      >
                    </button>
                  </div>
                </div>
            </form>
          </section>
        </div>

      </div>
      <!--Grid row-->
    </section>

  </div>

  <br>

  <div class="text-center p-3" style="background-color: #f8f8f8">
    © Giấy chứng nhận Đăng ý kính doanh do
    <a class="text-dark" href="">NLU - TP.HCM</a>
    cấp ngày 01/01/2022.
  </div>

</footer>
