$main-color: #63e399;
$text-color: #696763;

.carousel-container
{
  img {
    width: 100%;
  }
}

.card-title{
  &:hover
  {
    color: $main-color;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
  }
}

