<nav class="navbar nav-top" style="background-color:#F0F0E9;"><!--header_top-->
  <div class="container justify-content-between">
    <!-- Left elements -->
    <ul class="navbar-nav d-flex flex-row nav-info">
      <li class="nav-item me-3"><a class="nav-link active" aria-current="page" href="#"><i class="fa fa-phone"></i> +84123456789</a></li>
      <li class="nav-item me-3"><a class="nav-link" href="#"><i class="fa fa-envelope"></i> daihocnonglam@hcmuaf.edu.vn</a></li>
    </ul>
    <!-- Left elements -->

    <!-- Right elements -->
    <ul class="navbar-nav d-flex flex-row nav-icon">
      <!-- Icons -->
      <li class="nav-item me-4">
        <a class="nav-link" href="#">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li class="nav-item me-4">
        <a class="nav-link" href="#">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item me-4">
        <a class="nav-link" href="#">
          <i class="fab fa-google"></i>
        </a>
      </li>
    </ul>
    <!-- Right elements -->
  </div>
</nav><!--/header_top-->

<!--header-middle-->
<nav class="navbar navbar-light border-bottom" style="background-color: white">
  <div class="container">
    <a class="navbar-brand" routerLink="">
      <img
        src="./assets/images/bell.png"
        class="me-2"
        height="45"
        loading="lazy"
      />
      <a class="navbar-brand mb-0 h1 fs-3" routerLink="">
        <span style="color: #63e399"> RING!&nbsp; </span>
        <span> - NEWS</span>
      </a>

    </a>
  </div>
</nav> <!--header-middle-->

<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: white;">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse"
         id="navbarNav"
         mdbCollapse
         #basicNav="mdbCollapse"
    >
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li *ngFor="let category of categories" (click)="viewCate(category)" class="nav-item">
          <a class="nav-link">{{category.name}}</a>
        </li>
      </ul>

     <!-- <form class="w-auto">
        <input type="search" class="form-control" placeholder="Tìm kiếm..." aria-label="Search">
      </form>-->

    </div>
  </div>
</nav>
