  <div class="container-fluid" style="background-color: #F0F0E9">
    <div class="row justify-content-evenly">

      <div class="col-auto -pull-left">
        <ul class="nav nav-pills">
          <li class="nav-item mx-3">
            <a href=""><i class="fa fa-phone"></i> +84123456789</a>
          </li>
          <li class="nav-item mx-3">
            <a href=""><i class="fa fa-envelope"></i> daihocnonglam@hcmuaf.edu.vn</a>
          </li>
        </ul>
      </div>

      <div class="col-auto">
        <ul class="nav nav-pills">
          <li class="nav-item mx-3">
            <a href="#"><i class="fab fa-facebook"></i></a>
          </li>
          <li class="nav-item mx-3">
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-item mx-3">
            <a href="#"><i class="fab fa-google"></i></a>
          </li>
        </ul>
      </div>

    </div>


  </div>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#f8f8f8;">
  <div class="container-fluid">

    <a class="navbar-brand mt-2 mt-lg-0" routerLink="">
      <img
        src="./assets/images/bell.png"
        loading="lazy"
      />
      RING!
    </a>

    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" routerLink="">Thời sự</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="tech">Khoa học - Công nghệ</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="tech">Kinh tế</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="tech">Xã hội</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="tech">Pháp luật</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="tech">Văn hoá</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="tech">Giáo dục</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="tech">Thể thao</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="tech">Hồ sơ</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="tech">Quân sự</a>
        </li>

      </ul>

      <form class="w-auto">
        <input type="search" class="form-control" placeholder="Tìm kiếm..." aria-label="Search">
      </form>

    </div>
  </div>
</nav>


