/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
@import '~mdb-angular-calendar/scss/calendar.scss';
@import '~mdb-angular-wysiwyg/scss/wysiwyg.scss';
@import '~mdb-angular-drag-and-drop/scss/drag-and-drop.scss';
@import '~mdb-angular-vector-maps/scss/vector-map.scss';
@import '~mdb-angular-file-upload/scss/file-upload.scss';
@import '~mdb-angular-treeview/scss/treeview.scss';
@import '~mdb-angular-transfer/scss/transfer.scss';
@import '~mdb-angular-mention/scss/mention.scss';

$main-color: #63e399;

//main
.main-top-heading
{
  .card{ color: inherit; }

  img
  {
    max-height: 300px;
    width: auto;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .content
  {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.right-top-heading
{
  min-height: 100px;
  max-height: 120px;

  img
  {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    min-height: 100px;
    max-height: 120px;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  h6{
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  small {font-size: 12px;}

  a { color: inherit; }
}

.body-top-heading
{
  min-height: 160px;
  max-height: 160px;

  img
  {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    min-height: 160px;
    max-height: 160px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  h6
  {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .content
  {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a { color: inherit; }
}

.heading-title
{
  background-color: $main-color;
  color: white;
  padding: 0.3rem 0.3rem 0.3rem 0.8rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.page-loader
{
  height: 100%;
  width: 100%;
  z-index: 1029;
  margin-top: 10%;

  .spinner-border
  {
    color: $main-color;
  }

  .loading-text
  {
    color: $main-color;
  }
}
